@import "../../styles/variables.scss";

.container {
  padding: 3vh 20vw;

  background-color: $primary-light;

  color: white;
}

.topMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    font-size: 2rem;
    color: $secondary-light;
    margin: 0 0 3vh 0;

  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 3vh 0;

    a {
      margin-right: 10px;
    }

    @media screen and (max-width: $screen-s) {
    }
  }
}

.search {
  display: flex;
  align-items: center;
  margin: 0 0 3vh 0;
  width: 100%;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;

  input {
    width: 100%;
    padding: 20px;
    border-style: none;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
  button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: fit-content;
    padding: 0 50px !important;
    outline: 3px solid white;
    outline-offset: -3px;
  }

  // @media screen and (max-width: $screen-md) {
  //   display: none;
  // }
}

.bestSellers {
  margin: 0 0 3vh 0;
}
