@import "/styles/variables.scss";

.container {
  display: flex;
  .formContainer,
  .infoContainer {
    padding: 0 20px;
    width: 50%;

    @media screen and (max-width: $screen-s) {
      width: auto;
      margin-bottom: 5vh;
    }
  }

  @media screen and (max-width: $screen-s) {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  font-weight: bold;
  font-size: 2rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  .message {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 40px;
  }
  .info {
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 10px;
    font-size: 1.2rem;
  }
}

.key {
  font-weight: bold;
}
.value {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $screen-s) {
    text-align: end;
  }
}

.sendForm {
  width: 100%;
}
