@import "../../styles/variables.scss";

.title {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  font-weight: bold;
  font-size: 2rem;
}

.container {
  display: flex;
  margin: 0 10vw;
  .formContainer,
  .infoContainer {
    padding: 0 20px;
    width: 50%;

    @media screen and (max-width: $screen-md) {
      width: auto;
      margin-bottom: 5vh;
    }
  }

  @media screen and (max-width: $screen-md) {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  .message {
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 40px;
  }
  .info {
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 10px;
    font-size: 1.2rem;
  }
}

.key {
  font-weight: bold;
}
.value {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $screen-md) {
    text-align: end;
  }
}

.formRow {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 1rem;
  input {
    padding: 0.375rem 0.75rem;
  }
  select {
    height: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  }
}