@import "../../styles/variables.scss";

.button {
  color: white;
  padding: 10px 20px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border-style: none;
  background-color: $secondary;
  background-image: linear-gradient(
    30deg,
    $secondary 0%,
    $secondary 40%,
    $secondary-light 40%,
    $secondary-light 100%
  );
  display: block;
  transition: 0.5s;

  &:hover {
    color: $primary;
  }

  &:focus {
    outline: none;
  }
}
