@import "../../styles/variables.scss";

.container {
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.list {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.title {
  font-weight: bold;
}
