.form {
  /* Buttons and links */
  button {
    width: 100%;
  }
}

.cardElement {
  border-radius: 5px 5px 5px 5px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.25);
  width: 100%;

  > input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    max-height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }
}
